*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
   position: relative;
   background-color: rgb(0, 233, 128) ;
   height: 100vh;
   width: 100vw;
}

.content{
   font-family: 'Times New Roman', Times, serif;
   background-color: white;
   top: 40px;
   left: 250px;
   height: 440px;
   width: 600px;
   position: absolute;
   z-index: 1;
   border-radius: 15px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h2{
    left: 290px;
    top: 50px;
    position: absolute;
}

p{
    left: 285px;
    top: 77px;
    position: absolute;
    color: gray;
}

.rs{
    font-size: xx-large;
    left: 320px;
    top: 120px;
    position: absolute;
    color: rgb(255, 90, 90);
}

.rs3{
    font-size: xx-large;
    left: 380px;
    top: 120px;
    position: absolute;
    color: rgb(255, 40, 40);
}

.col{
    left: 260px;
    top: 160px;
    color: gray;
}

.green{
    height: 70px;
    left: 250px;
    top: 180px;
    z-index: 3;
    border: 1px solid black;
    border-radius: 20px;
}

.red{
    height: 100px;
    left: 285px;
    top: 165px;
    z-index: 3;
}

.yellow{
    height: 60px;
    left: 400px;
    top: 185px;
    z-index: 3;
}

.ben{
    left: 260px;
    top: 260px;
    color: gray;
}

.line1{
    left: 250px;
    top: 280px;
    color: rgb(0, 0, 0);
}

.line2{
    left: 250px;
    top: 300px;
    color: rgb(0, 0, 0);
}

.line3{
    left: 250px;
    top: 320px;
    color: rgb(0, 0, 0);
}

.btn{
    color: aliceblue;
    background-color: brown;
    left: 335px;
    top: 360px; 
    padding: 10px 20px;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.hero{
    background-color: greenyellow;
    height: 370px;
    width: 250px;
    top: 70px;
    left: 200px;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.foot{
    background-color: aliceblue;
    height: 60px;
    width: 250px;
    top: 400px;
    left: 200px;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

img{
    background-color: transparent;
    height: 290px;
    top: 100px;
    left: 140px;
    position: absolute;
    z-index: 6;
}

.apft{
    background-color: transparent;
    height: 50px;
    top: 2px;
    left: 30px;
    z-index: 6; 
    border: 1px solid rgb(155, 155, 155);
    border-radius: 20px;
}

.dwld{
    background-color: transparent;
    height: 52px;
    top: 2px;
    left: 100px;
    z-index: 6;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 20px;
}

.cut{
    background-color: transparent;
    height: 50px;
    top: 2px;
    left: 170px;
    z-index: 6; 
    border: 1px solid rgb(155, 155, 155);
    border-radius: 20px;
}
