*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(0, 233, 128) ;
}

.container{
   position: relative;
}

.content{
   background-color: white;
   top: 40px;
   left: 250px;
   height: 440px;
   width: 600px;
   position: absolute;
   z-index: 1;
   border-radius: 15px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.content h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    z-index: 3;
}

.hero{
    background-color: greenyellow;
    height: 370px;
    width: 250px;
    top: 70px;
    left: 200px;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.foot{
    background-color: aliceblue;
    height: 50px;
    width: 250px;
    top: 400px;
    left: 200px;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

img{
    background-color: transparent;
    height: 290px;
    top: 100px;
    left: 140px;
    position: absolute;
    z-index: 6;
}

